html, body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0; }

h1 {
  font-size: 5rem;
  text-align: center;
  font-weight: 500;
  margin: 30px 15vw; }

p {
  text-align: right;
  margin-right: 20px;
  font-size: 1.5rem; }

.quiz-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 85vh; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

li {
  /* height: 30px; */
  width: 22vw;
  padding: 20px;
  margin: 5vh auto;
  background: rgba(0, 0, 0, 0.05);
  font-size: 1.5rem;
  text-align: center;
  border: 5px solid rgba(0, 0, 0, 0.1); }
  li:hover {
    cursor: pointer; }

.quiz-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100vw; }
  .quiz-content li {
    width: 40%; }

.green {
  border: 5px solid rgba(63, 191, 63, 0.2); }

.red {
  border: 5px solid red; }

.result {
  font-size: 2rem;
  text-align: center; }
